/* import fonts */
@font-face {
    font-family: Baskerville-Regular;
    src: url("../fonts/LibreBaskerville-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: 'Baskerville-Regular';
}

.my-info img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 55%;
}